{
    "singleQuote": false,
    "semi": true,
    "trailingComma": "all",
    "quoteProps": "as-needed",
    "bracketSpacing": true,
    "bracketSameLine": true,
    "arrowParens": "always",
    "endOfLine": "lf",
    "useTabs": false,
    "tabWidth": 4,
    "printWidth": 120,
    "singleAttributePerLine": false
}
